.header{
 position: sticky;
 top: 0;   
 display: flex;
 justify-content: space-evenly;
 /* for the lign in the top */
 border-bottom: 0.1px solid lightgray;
 padding-top: 10px;
 padding-bottom: 10px;
 width: 100%;
 z-index: 999;
}
.header__left{
    display: flex;
}

.header__left > img{
    object-fit: contain;
    height: 40px;
    margin-right: 10px;
}
.input-search{
    flex-grow: 1;
    width: 500px;
    height: 20px;
    flex: 1;
    outline: none; 
    
}
.input-search::placeholder{
    font-size: 20px;
   
}
.icon-search{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__search {
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 22px;
    color: gray;
    background-color: #faf8f8;

}



 .header__right {
     display: flex;
 }